<!-- nav bar -->
{% include 'navbar.html' %}


<div id="hero" class="text-center">

    <div class="row" style="margin-top:60px">
        <div class="col-6">
            <img src="static/imgs/shapes/bg.png" alt="" style="width: 100%;">      
        </div>
        <div class="col-6 text-left">
            <h1 class="text-purple medium-heading" style="margin-top:30px; margin-left: 20px;">Reading Blogs</h1>
            <br>
            <hr style="margin-left: 20px;">
            <p style="margin-left: 20px; max-width: 300px; margin-top: 70px;">A blog about mental health is a platform where you can share your thoughts, feelings, and experiences related to your mental well-being. You can also learn from other people’s stories, get tips and advice, and find support and resources. A blog about mental health can help you cope with stress, anxiety, depression, and other mental health issues. It can also inspire you to live a happier and healthier life.</p>
        </div>
    </div>

    <div class="row">
        <div class="subscribe p-5">
            <br>
            <h2> Subscribe to get notified to get daily suggested blogs  </h2>
            <br><br>
            <form action="">
                <div class="row" style="text-align: right;">
                    <div class="col-7">
                        <input type="email" placeholder="Email" class="form-control-subscribe">
                    </div>
                    <div class="col-5 text-left" style="max-width:120px">
                        <button type="submit" class="btn btn-outline-secondary">Send now</button>
                    </div>
                </div>
            </form> 
            <br><br>
        </div>
    </div>

    <!-- Categories Topics Section - Running -->
    <h1 class="text-purple mt-4">Reading Categories</h1>
    <div class="mt-4">
        <div class="row">
            {% for category, img in zip(categories, img_categories) %}
                <div class="col-2 col-2-custom">
                    <div class="card card-category">
                        <div class="card-body card-primary-color">
                            <img src="static/imgs/shapes/{{img}}" class="card-img-top" alt="...">
                            <!-- bookmark -->
                            <h3 class="card-title-blog">{{ category.title }}</h3> 
                            <p class="card-text opacity-8 mt-4">{{ category.description }}</p>
                            <a href="">View <i class="bi bi-arrow-right"></i></a>
                            <br>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="hero-content display-table">
        <br> <br> <br> 
        <div class="container-fluid" style="max-width: 300px;">
            <!-- Searching bar -->
            <form method="POST" class="d-flex" role="search" action="{{url_for('search')}}">
                {{ form.hidden_tag() }}
                <input class="search-custom" placeholder="Search" name="searched">
                <button class="btn btn-outline-search" type="submit"><i class="bi bi-search"></i></button>
                <!-- Suggestion -->
                <a href="{{url_for('recsys')}}" style="margin-top: 6px;" >
                    <i class="bi bi-envelope-exclamation ms-4" style="color: var(--purple-color)"></i>
                </a>
                <!-- End Suggestion -->
            </form>
            <!-- End Searching bar -->
        </div>
        
        <div class="table-cell-3">
            <!-- content block -->  
            <div class="container">
                <h1 class="text-purple">Welcome {{current_user.name}} to stories gallary </h1>
                <p class="text-purple opacity-8 mt-4"> Reading real-life stories from others and exploring how they overcome their problems might help you a lot to solve your problems</p>
                <br>
                {% for each_tag in list_tags %}
                    <a href="{{ url_for('all_blogs_filter', query=each_tag)}}"><li class="badge tag-choose ">{{each_tag}}</li> </a>
                {% endfor %}

                <div class="row mt-4">
                    {% for blog in all_blogs %}
                        <div class="col-4 mt-4">
                            <div class="card ">
                                <div class="card-header card-secondary-color">
                                    Featured story 
                                </div>
                                <div class="card-body card-primary-color">
                                    <!-- bookmark -->
                                    <div class="row" style="padding:0px">
                                        <div class="col-2">
                                            {% include 'bookmark2.html' %} 
                                        </div>
                                        <div class="col-10">
                                            <h3 class="card-title-blog text-left" style="margin-left: 15px">
                                                {{blog.title[:25]}}
                                            </h3> 
                                        </div>
                                    </div>
                                    
                                    <a href="{{url_for('other_user_blogs', id=blog.poster.id)}}"><p class="card-text">{{blog.poster.user_name}}</p></a>
                                    <p class="card-text opacity-8 mt-4">{{blog.content[:140]}}......</p>
                                    <br>
                                    <div class="d-grid gap-2">
                                        <a href="{{url_for('blog', id=blog.id)}}" class="btn btn-outline-primary">Read story now</a>
                                    </div>
                                    <br>
                                    <div class="tag-footer">
                                        {% for tag in tags %}
                                            {% if tag.blog_id == blog.id %}
                                                {% set tag_list = decoding(tag.content) %} 
                                                    {% for t in tag_list %} 
                                                        <li class="badge tag-tag ">{{t}}</li> 
                                                    {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- end content block -->
            
        </div>
        
    </div>
</div>

<br><br><br>
{% include 'footer.html' %}





