<!-- nav bar -->
{% include 'navbar.html' %}


<div id="hero" class="hero route bg-image">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
        <div class="table-cell-2">
            <!-- content block -->
            <div class="container">
                <h1> Welcome {{current_user.name}} to stories gallary</h1>
                <p class="opacity-8 mt-4"> Reading real-life stories from others and exploring how they overcome it might help you a lot to solve your problems</p>
                <br>
                <div class="row mt-4">
                    {% for blog in all_blogs %}
                        <div class="col-4 mt-4">
                            <div class="card card-primary-color">
                                <div class="card-body">
                                    <h3 class="card-title-blog">{{blog.title}}</h3>
                                    <p class="card-text">{{blog.poster.user_name}}</p>
                                    <p class="card-text">{{blog.content[:150]}}......</p>
                                    <br>
                                    <div class="d-grid gap-2">
                                        <a href="{{url_for('blog', id=blog.id)}}" class="btn btn-outline-primary">Read now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- end content block -->
        </div>
    </div>