<!-- nav bar -->
{% include 'navbar.html' %}


<div id="hero" class="text-center">

    <div class="row" style="margin-top:60px">
        <div class="col-6">
            <img src="static/imgs/Refined/Background_space.jpg" alt="" style="width: 100%;">      
        </div>
        <div class="col-6 text-left">
            <h1 class="text-purple" style="margin-top:70px; margin-left: 20px;">Reading Categories</h1>
            <h3 class="text-purple" style="margin-top:50px; margin-left: 20px;">News <i class="bi bi-arrow-right"></i></h3>
            <h3 class="text-purple" style="margin-left: 20px;">Stories <i class="bi bi-arrow-right"></i></h3>
        </div>
    </div>

    <div class="subscribe p-5">
        <br>
        <h2> Subscribe to get notified to get daily suggested blogs  </h2>
        <br><br>
        <form action="">
            <div class="row" style="text-align: right;">
                <div class="col-7">
                    <input type="email" placeholder="Email" class="form-control-subscribe">
                </div>
                <div class="col-5 text-left" style="max-width:120px">
                    <button type="submit" class="btn btn-outline-secondary">Send now</button>
                </div>
            </div>
        </form> 
        <br><br>
    </div>
    

    <div class="hero-content display-table">
        <br> <br> <br> 
        <div class="container-fluid" style="max-width: 300px;">
            <!-- Searching bar -->
            <form method="POST" class="d-flex" role="search" action="{{url_for('search')}}">
                {{ form.hidden_tag() }}
                <input class="search-custom" placeholder="Search" name="searched">
                <button class="btn btn-outline-search" type="submit"><i class="bi bi-search"></i></button>
                <!-- Suggestion -->
                <a href="{{url_for('recsys')}}" style="margin-top: 6px;" >
                    <i class="bi bi-envelope-exclamation ms-4" style="color: var(--purple-color)"></i>
                </a>
                <!-- End Suggestion -->
            </form>
            <!-- End Searching bar -->
        </div>
        
        <div class="table-cell-3">
            <!-- content block -->  
            <div class="container">
                <h1 class="text-purple">Welcome {{current_user.name}} to stories gallary </h1>
                <p class="text-purple opacity-8 mt-4"> Reading real-life stories from others and exploring how they overcome their problems might help you a lot to solve your problems</p>
                <br>
                
                <div class="row mt-4">
                    {% for blog in all_blogs %}
                        <div class="col-4 mt-4">
                            <div class="card ">
                                <div class="card-header card-secondary-color">
                                    Featured story
                                </div>
                                <div class="card-body card-primary-color">
                                    <h3 class="card-title-blog">{{blog.title[:29]}}</h3>
                                    <a href="{{url_for('other_user_blogs', id=blog.poster.id)}}"><p class="card-text">{{blog.poster.user_name}}</p></a>
                                    <p class="card-text opacity-8 mt-4">{{blog.content[:140]}}......</p>
                                    <br>
                                    <div class="d-grid gap-2">
                                        <a href="{{url_for('blog', id=blog.id)}}" class="btn btn-outline-primary">Read story now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- end content block -->
            
        </div>
        
    </div>
</div>

<br><br><br>
{% include 'footer.html' %}





