<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virtual Therapist</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename = 'app.css') }}" />-->
  </head>
  <body>
    <!-- base.html -->
    {% extends 'base.html' %}
    <!-- content block -->
    {% block main %}
      <div class="container">
        <div class="row">
          <div class="col-8">
            <h1>Chat with our chatbot</h1>

            <div class="card">
              <div class="card-header">Virtual therapist</div>
              <div class="card-body card-body-container d-flex flex-column justify-content-end" style="height: 550px">
                
                <!-- <div class="card-group">
                  <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body text-primary">
                      <h5 class="card-title">Primary card title</h5>
                      <p class="card-text">Some quick example text to build on the card title.</p>
                    </div>
                  </div>

                  <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body text-primary">
                      <h5 class="card-title">Primary card title</h5>
                      <p class="card-text">Some quick example text to build on the card title.</p>
                    </div>
                  </div>

                  <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body text-primary">
                      <h5 class="card-title">Primary card title</h5>
                      <p class="card-text">Some quick example text to build on the card title.</p>
                    </div>
                  </div>
                </div>-->

                <form action="/chat" method="POST">
                  <div class="form-floating form-chat">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="floatingTextarea2"></textarea>
                    <label for="floatingTextarea2">Enter your thought</label>
                  </div>
                  <button type="submit" class="btn btn-primary">Send</button>
                </form>

              </div>
            </div>
          </div>
          <div class="col-4">
            <h2>History conversations</h2>
          </div>
        </div>
      </div>
    {% endblock %}
  </body>
</html>
