<!-- nav bar -->
{% include 'navbar.html' %}


<div class="blog-theme bg-image" style="background-image: url(https://i.pinimg.com/736x/b3/fa/d5/b3fad5721c994eff8254b4b7d418a3db.jpg)">
    <div class="overlay-itro"> </div>

    <div class="hero-content display-table">
        <div class="table-cell-2 opacity-1">
            <div class="container text-left">
                <!-- content block -->
                <h3 class="ms-3">Read this story might help you!</h3>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <a href= "{{ url_for('time', start_time_sec=start_time_sec, id=blog.id)}}">
                                        <i class="bi bi-arrow-left"></i>
                                        Back to all stories
                                    </a>
                                </div>
                                {% if blog.poster.id == current_user.id %}
                                    <div class="col-6">
                                        <a href= "{{ url_for('edit_blog', id=blog.id) }}">
                                            <i class="bi bi-arrow-right"></i>
                                            Edit
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="col-6">
                                        <a href= "{{ url_for('other_user_blogs', id=blog.poster.id) }}">
                                            <i class="bi bi-arrow-right"></i>
                                            Read more from this user
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="col blog-show-title mt-4">
                                {{blog.title}}
                            </div>
                            <div class="col mt-5">
                                This content is from: {{blog.poster.user_name}}
                            </div> 
                        </div>
                        <div class="col-6 text-break text-output">
                            {{blog.content}}
                        </div>
                    </div>
                </div>
                <!-- end content block -->
            </div>
        </div>

        <br><br><br>
    </div>