<!-- nav bar -->
{% include 'navbar.html' %}

<div class="blog-theme bg-image text-purple">
    <div class=""></div>

    <div class="hero-content display-table">
        <div class="table-cell-2 opacity-1">
            <div class="container text-left">
                <!-- Blog content block -->
                <div class="">
                    <h3 class="ms-3">Read this story might help you!</h3>
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <a href= "{{ url_for('time', start_time_sec=start_time_sec, id=blog.id)}}">
                                            <i class="bi bi-arrow-left"></i>
                                            Back to all stories
                                        </a>
                                    </div>
                                    {% if blog.poster.id == current_user.id %}
                                        <div class="col-6">
                                            <a href= "{{ url_for('edit_blog', id=blog.id) }}">
                                                <i class="bi bi-arrow-right"></i>
                                                Edit
                                            </a>
                                        </div>
                                    {% else %}
                                        <div class="col-6">
                                            <a href= "{{ url_for('other_user_blogs', id=blog.poster.id) }}">
                                                <i class="bi bi-arrow-right"></i>
                                                Read more from this user
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="col blog-show-title mt-4 ">
                                    {{blog.title}}
                                </div>
                                <div class="col mt-5">
                                    This content is from: {{blog.poster.user_name}}
                                </div> 
                
                            </div>
                            <div class="col-6 text-break text-output ">
                                {{blog.content}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end blog content block -->

                <!-- comment block -->
                <br><hr><br>
                <h1 class="text-center"> Comments Section</h1>
                <br>
                <div class="container" >
                <div class="hr-3"></div>
                    {% for comment in all_comments  %}
                        {% if comment.blog_id == blog.id %}
                            <div class="container border-left border-right border-bottom-new p-3">
                                <div class="row">
                                    <div class="col-10">
                                        <div >{{comment.commenter.user_name}}</div>
                                        <div class="text-purple-dark">{{comment.comment_content}}</div>
                                    </div>
                                    <div class="col-2">
                                        <!-- Use the <time> element with the datetime attribute -->
                                        <time datetime="{{comment.date_posted.strftime('%Y-%m-%dT%H:%M:%S')}}" >
                                            <!-- Use the text content to display the date and time in a readable format -->
                                            <div style="margin-top: 15px">{{comment.date_posted.strftime('%B %d, %Y %H:%M:%S')}}</div>
                                        </time>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="container">
                    <form action="" method="POST">
                        {{ commentForm.hidden_tag() }}
                        <div class="text-left">
                            {{ commentForm.content.label(class = 'form-label mt-4') }} 
                            {{ commentForm.content(class = 'text-output text-area form-control-comment border-remove form-border-radius', rows="1")}}
                            {{ commentForm.submit(class = 'btn btn-primary mt-4') }}
                    </form>
                </div>
                <!-- end comment block -->


                <!-- Suggest similar content -->
                <br><br><hr><br>
                <h1 class="text-center"> More content like this</h1>
                <div class="row mt-4 text-center">
                        <div class="col-4 mt-4">
                            <div class="card ">
                                <div class="card-header card-secondary-color">
                                    Related story
                                </div>
                                <div class="card-body card-primary-color">
                                    <h3 class="card-title-blog">{{blog.title[:29]}}</h3>
                                    <a href="{{url_for('other_user_blogs', id=blog.poster.id)}}"><p class="card-text">{{blog.poster.user_name}}</p></a>
                                    <p class="card-text opacity-8 mt-4">{{blog.content[:140]}}......</p>
                                    <br>
                                    <div class="d-grid gap-2">
                                        <a href="{{url_for('blog', id=blog.id)}}" class="btn btn-outline-primary">Read story now</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mt-4">
                            <div class="card ">
                                <div class="card-header card-secondary-color">
                                    Related story
                                </div>
                                <div class="card-body card-primary-color">
                                    <h3 class="card-title-blog">{{blog.title[:29]}}</h3>
                                    <a href="{{url_for('other_user_blogs', id=blog.poster.id)}}"><p class="card-text">{{blog.poster.user_name}}</p></a>
                                    <p class="card-text opacity-8 mt-4">{{blog.content[:140]}}......</p>
                                    <br>
                                    <div class="d-grid gap-2">
                                        <a href="{{url_for('blog', id=blog.id)}}" class="btn btn-outline-primary">Read story now</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mt-4">
                            <div class="card ">
                                <div class="card-header card-secondary-color">
                                    Related story
                                </div>
                                <div class="card-body card-primary-color">
                                    <h3 class="card-title-blog">{{blog.title[:29]}}</h3>
                                    <a href="{{url_for('other_user_blogs', id=blog.poster.id)}}"><p class="card-text">{{blog.poster.user_name}}</p></a>
                                    <p class="card-text opacity-8 mt-4">{{blog.content[:140]}}......</p>
                                    <br>
                                    <div class="d-grid gap-2">
                                        <a href="{{url_for('blog', id=blog.id)}}" class="btn btn-outline-primary">Read story now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

            </div>
        </div>

        <br><br><br>
    </div>

<!-- nav bar -->
{% include 'footer.html' %}


<script src="{{ url_for('static', filename='js/text-box-control.js') }}"></script>