<!-- nav bar -->
{% include 'navbar.html' %}



<!-- main block -->
<div id="hero" class="hero route bg-image" style="background-image: url(static/imgs/Refined/Background_Log.png)">
    <div class=""></div>
    <div class="hero-content display-table">
        <div class="table-cell-signup">
            <div class="container">
                <!-- content block -->
                <h1 class="text-gray">Để bắt đầu hãy cho chúng tôi biết <br> những chủ đề bạn quan tâm nhất</h1>
                <!-- end content block -->
            </div>
        </div>
    </div>
<!-- end main block -->

<!-- floating effect -->
<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
 