<!-- nav bar -->
{% include 'navbar.html' %}


<div id="hero" class="hero route bg-image" style="background-image: url(https://i.pinimg.com/originals/c7/1f/87/c71f87a30b503eda26410c02ea99839d.gif)">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
        <div class="table-cell">
            <div class="container">
                {% if blog.poster.id == current_user.id %}
                <!-- content block -->
                <div class="row">
                    <div class="col-3"></div>
                        <div class="col-6">
                            <div class="shadow-sm p-5 mt-5 bg-black mb-5 rounded">
                                <form method="POST">
                                    {{ form.hidden_tag() }}
                                    <div class="mb-3 row mt-3">
                                        <div class="text-left col-sm-4 col-form-label">
                                            {{ form.title.label(class = 'form-label') }}
                                            {{ form.content.label(class = 'form-label mt-4') }}
                                            {{ form.slug.label(class = 'form-label mt-4') }}
                                        </div>
                                        
                                        <div class="col-sm-8">
                                            {{ form.title(class = 'form-control form-border-radius') }}
                                            {{ form.content(class = 'form-control  margin-top-form form-border-radius', rows="10")}}
                                            {{ form.slug(class = 'form-control margin-top-form form-border-radius') }}
                                        </div>

                                        <div class="d-grid gap-2 mt-5">
                                            {{ form.submit(class = 'btn btn-primary') }}
                                            <a href="{{ url_for('blog', id=blog.id) }}" class="btn btn-outline-primary">Back to story</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    <div class="col-3"></div>
                </div>
                {% else %}
                    <div>You can not edit this post</div>
                {% endif %}
                <!-- end content block -->
            </div>
        </div>
    </div>
