<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Virutal Therapist</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/imgs/favicon.png" rel="icon">
  <link href="static/imgs/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/index.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">

            <!-- ======= left logo ======= -->
            <h1 class="logo"><a href="index.html"></a></h1>
            <!-- <a href="index.html" class="logo"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->

            <!-- ======= right navbar ======= -->
            <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                        <li><a class="nav-link scrollto" href="#about">Our story</a></li>
                        <li><a class="nav-link scrollto" href="#services">Features</a></li>
                        <li><a class="nav-link scrollto " href="#work">App</a></li>
                        <li><a class="nav-link scrollto " href="{{url_for ('all_blogs')}}">Blogs</a></li>
                    <li><a class="nav-link scrollto" href="{{url_for('registration')}}">Sign up</a></li>
                    </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>

    <!-- ======= Main theme Section ======= -->
    <div id="hero" class="hero route bg-image" style="background-image: url(https://i.pinimg.com/originals/bb/f3/99/bbf399ef3eb7649b9cc2b69656b574af.gif)">
        <div class="overlay-itro"></div>
        <div class="hero-content display-table">
        <div class="table-cell">
            <div class="container">
                <h1 class="hero-title mb-4">Virutal Therapist</h1>
                <p class="hero-subtitle"><span class="typed" data-typed-items="mental, healing, for, adolescents"></span></p>
                <p class="pt-3"><a class="btn btn-outline-light btn js-scroll px-4" href="#about" role="button">Explore More</a></p> 
            </div>
        </div>
        </div>
    </div>

    <main id="main">

    <!-- ======= Our Story Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box-shadow-full">

                        <div class="row">

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="title-box-2"><h5 class="our-story"> Our <br> Story</h5></div>
                                </div>   
                            </div>


                            <div class="col-md-6">
                                <div class="about-me pt-4 pt-md-0">
                                    <p class="lead">
                                        Adolescents are facing various challenges to their
                                        mental health due to their exposure to online
                                        risks and pressures, such as cyberbullying,
                                        misinformation, social comparison, and
                                        unrealistic expectations. They also have to deal
                                        with the stress and anxiety from their academic
                                        and personal lives, which can affect their self-
                                        esteem and well-being. These factors can lead to
                                        negative emotions and behaviors, such as
                                        depression, isolation, self-harm, and substance
                                        abuse.  
                                    </p>
                                    <p class="lead">
                                        Teenagers are reluctant to ask for help
                                        because of the stigma around mental health
                                        disorders, and there are also additional
                                        limitations including waiting lists and geographic
                                        restrictions. There is a significant gap in the
                                        treatment that should be available conveniently
                                        and cost-effectively, and the services available at
                                        hand. The ratio of therapists, psychiatrists,
                                        psychiatric social workers and mental health
                                        nurses to patients is 1: 10,000, even in developed
                                        countries (Kislay, 2020).
                                    </p>
                                    <p class="lead">
                                        The disparity in the
                                        system means that most people with mental
                                        health problems will never get the support they  
                                        need. In response, we developed a technology-
                                        based application that provides online support
                                        and guidance to adolescents with mental health
                                        problems.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Features Section ======= -->
    <section id="services" class="services-mf pt-5 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="title-box">
                                <h3 class="core-features-header">Core Features</h3>
                            </div>
    
                            <div class="col-4">
                                <div class="list-group core-features" id="list-tab" role="tablist">
                                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home"><i class="bi bi-bookmark-heart"></i> <strong>Chatbot</strong>: Express your thoughts confidentially, without judgment.</a>
                                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile"><i class="bi bi-ui-checks-grid"></i> <strong>Progress Record</strong> Tracking precisely you mental health quality throught tim</a>
                                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages"><i class="bi bi-exclude"></i> <strong>Blogs</strong>: A place to share your experience and learn from others</a>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="col-8">
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list"><img src="static\imgs\publish-example-dark.png" style="width:800px" alt=""></div>
                                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list"><img src="static\imgs\publish-example-dark.png" style="width:800px" alt=""> </div>
                                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list"> <img src="static\imgs\publish-example-dark.png" style="width:800px" alt=""></div>
                                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list"> <img src="static\imgs\publish-example-dark.png" style="width:800px" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br><br>

    <!-- ======= Counter Section ======= -->
    <div class="section-counter paralax-mf bg-image" style="background-image: url(https://i.pinimg.com/originals/bb/f3/99/bbf399ef3eb7649b9cc2b69656b574af.gif)">
        <div class="overlay-mf"></div>
            <div class="container position-relative">
                <div class="row">
                    <div class="col-sm-3 col-lg-3">
                        <div class="counter-box pt-4 pt-md-0">
                            <div class="counter-ico">
                                <span class="ico-circle"><i class="bi bi-check"></i></span>
                            </div>
                            <div class="counter-num">
                                <p data-purecounter-start="0" data-purecounter-end="450" data-purecounter-duration="1" class="counter purecounter"></p>
                                <span class="counter-text">WORKS COMPLETED</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-3">
                        <div class="counter-box pt-4 pt-md-0">
                            <div class="counter-ico">
                                <span class="ico-circle"><i class="bi bi-journal-richtext"></i></span>
                            </div>
                            <div class="counter-num">
                                <p data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="counter purecounter"></p>
                                <span class="counter-text">YEARS OF EXPERIENCE</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-3">
                        <div class="counter-box pt-4 pt-md-0">
                            <div class="counter-ico">
                                <span class="ico-circle"><i class="bi bi-people"></i></span>
                            </div>
                        <div class="counter-num">
                            <p data-purecounter-start="0" data-purecounter-end="550" data-purecounter-duration="1" class="counter purecounter"></p>
                            <span class="counter-text">TOTAL CLIENTS</span>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-3">
                        <div class="counter-box pt-4 pt-md-0">
                            <div class="counter-ico">
                                <span class="ico-circle"><i class="bi bi-award"></i></span>
                            </div>
                        <div class="counter-num">
                            <p data-purecounter-start="0" data-purecounter-end="48" data-purecounter-duration="1" class="counter purecounter"></p>
                            <span class="counter-text">AWARD WON</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ======= More Section ======= -->
    <br><br>
    <section id="work" class="portfolio-mf sect-pt4 route">
        <div class="container">
            
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="developer-docs-header">With Virtapist, you've got someone in your corner</h3>
                    </div>
                </div>
            </div>

            <div class="row">
            
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="https://i.pinimg.com/originals/26/b7/c6/26b7c65e04d7d6c373adff19abd73212.gif" data-gallery="portfolioGallery" class="portfolio-lightbox">
                            <div class="work-img">
                            <img src="https://i.pinimg.com/originals/26/b7/c6/26b7c65e04d7d6c373adff19abd73212.gif" alt="" class="img-fluid">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Boost your confidence</h2>
                                    <p>Learn how to swap negative self-critique for radical acts of self-compassion</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <a href="{{ url_for('download')}}"> <i class="bi bi-arrow-right-square"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="work-box">
                        <a href="https://i.pinimg.com/originals/26/b7/c6/26b7c65e04d7d6c373adff19abd73212.gif" data-gallery="portfolioGallery" class="portfolio-lightbox">
                            <div class="work-img">
                                <img src="https://i.pinimg.com/originals/26/b7/c6/26b7c65e04d7d6c373adff19abd73212.gif" alt="" class="img-fluid">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Change thought patterns</h2>
                                    <p>Retrain your brain to embrace positive thinking and avoid unnecessary stress and anxiety.</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <a href="{{ url_for('download')}}"><i class="bi bi-arrow-right-square"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="work-box">
                        <a href="https://i.pinimg.com/originals/26/b7/c6/26b7c65e04d7d6c373adff19abd73212.gif" data-gallery="portfolioGallery" class="portfolio-lightbox">
                            <div class="work-img">
                                <img src="https://i.pinimg.com/originals/26/b7/c6/26b7c65e04d7d6c373adff19abd73212.gif" alt="" class="img-fluid">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Monitor your mental quality</h2>
                                    <p>Understand how you improve mental health through time with precise sentiment tracking system</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <a href="{{ url_for('download')}}"> <i class="bi bi-arrow-right-square"></i></span></a>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- ======= Footer Section ======= -->
    <br><br><br>
    <br><br><br>


    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <p>Virtual Therapist</p>
                    
                    </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            <p style="margin-left:25px">Get started</p>
                            <ul>
                                <a href="{{ url_for('registration')}}"><li class="list-group-item">Sign up</li></a>
                                <a href="{{ url_for('login')}}"><li class="list-group-item">Login</li></a>
                                <a href="{{ url_for('download')}}"><li class="list-group-item">Use app</li></a>
                                <a href="{{ url_for('all_blogs')}}"><li class="list-group-item">Read people's story</li></a>
                                <a href="{{ url_for('create_blog')}}"><li class="list-group-item">Start your blog</li></a>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <p style="margin-left:25px">Deveoper docs</p>
                            <ul>
                                <a href="{{ url_for('registration')}}"><li class="list-group-item">Research Paper</li></a>
                                <a href="{{ url_for('all_blogs')}}"><li class="list-group-item">Github</li></a>
                                <a href="{{ url_for('login')}}"><li class="list-group-item">Jupyter notebook</li></a>
                                <a href="{{ url_for('download')}}"><li class="list-group-item">Dataset</li></a>       
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <p style="margin-left:25px">Social media</p>
                            <ul>
                                <a href="{{ url_for('registration')}}"><li class="list-group-item">Youtube</li></a>
                                <a href="{{ url_for('all_blogs')}}"><li class="list-group-item">Facebook</li></a>    
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <p style="margin-left:25px">Members</p>
                            <ul>
                                <a href="{{ url_for('registration')}}"><li class="list-group-item">Quoc Bao</li></a>
                                <a href="{{ url_for('login')}}"><li class="list-group-item">Bao Tien</li></a>
                                <a href="{{ url_for('download')}}"><li class="list-group-item">Minh Anh</li></a>
                                <a href="{{ url_for('all_blogs')}}"><li class="list-group-item">Thinh Le</li></a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    

    

  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/typed.js/typed.umd.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>