<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

        <!-- ======= left logo ======= -->
        <h1 class="logo"><a href="index.html"></a></h1>
        <!-- <a href="index.html" class="logo"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->

        <!-- ======= right navbar ======= -->
        <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="{{ url_for('home')}}">Home</a></li>
                    <li><a class="nav-link scrollto" href="{{ url_for('download')}}">Use App</a></li>
                    <li><a class="nav-link scrollto" href="{{ url_for('all_blogs')}}">Read blogs</a></li>
                    <li><a class="nav-link scrollto " href="{{ url_for('create_blog')}}">Create blog</a></li>
                    <li><a class="nav-link scrollto " href="{{url_for ('registration')}}">Sign up</a></li>
                    <li><a class="nav-link scrollto" href="{{url_for('login')}}">Log in</a></li>
                </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>s
    </div>
</header>