<!-- base.html -->
{% extends 'base.html' %}
<!-- content block -->
{% block main %}

    {% if name %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <a class="btn-close" href="{{ url_for('all_users') }}" role="button"></a>
        </div>
    {% endfor %}

    {% else %}
        <!-- Form Registration -->
        <div class="card mb-3 ms-4 rounded-4" style="max-width: 1200px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="static/imgs/img_registration_2.jpg" class="img-fluid rounded-start" style="width:480; height: 854;" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title">Create an account</h2>
                        <br>

                        <form method="POST">
                            {{ form.hidden_tag() }}
                            
                            {{ form.name.label(class = 'form-label') }}
                            {{ form.name(class = 'form-control') }}
              
                            {{ form.email.label(class = 'form-label mt-4') }}
                            {{ form.email(class = 'form-control') }}
              
                            {{ form.user_name.label(class = 'form-label mt-4') }}
                            {{ form.user_name(class = 'form-control') }}
              
                            {{ form.password_hash.label(class = 'form-label mt-4') }}
                            {{ form.password_hash(class = 'form-control') }}
              
                            {{ form.password_hash2.label(class = 'form-label mt-4') }}
                            {{ form.password_hash2(class = 'form-control') }}
                
                            <br>
                            <div class="d-grid gap-2">
                                {{ form.submit(class = 'btn btn-primary') }}
                                <a href="{{ url_for('login') }}" type="button" class="btn btn-outline-primary" role="button">Log in if you have an account</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    {% endif %}



{% endblock %}
