<div class="text-left">
    <div>Choose most suitable tags for your blog</div>
    <div class="form-check mt-3">
        <!-- Default / predetermined tags -->
        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="cam_xuc" id="cam_xuc">
        <label class="form-check-label-custom margin-right-tag" for="cam_xuc">
            Cảm xúc
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="chung_toc" id="chung_toc">
        <label class="form-check-label-custom margin-right-tag" for="chung_toc">
            Chủng tộc
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="so_thich" id="so_thich">
        <label class="form-check-label-custom margin-right-tag" for="so_thich">
            Sở thích
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="du_lich" id="du_lich">
        <label class="form-check-label-custom margin-right-tag" for="du_lich">
            Du lịch
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="hen_ho" id="hen_ho">
        <label class="form-check-label-custom margin-right-tag" for="hen_ho">
            Hẹn hò
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="gia_dinh" id="gia_dinh">
        <label class="form-check-label-custom margin-right-tag" for="gia_dinh">
            Gia đình
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="dong_nghiep" id="dong_nghiep">
        <label class="form-check-label-custom margin-right-tag" for="dong_nghiep">
            Đồng nghiệp
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="dong_nghiep" id="dong_nghiep">
        <label class="form-check-label-custom margin-right-tag" for="dong_nghiep">
            Bạn bè
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="tam_ly" id="tam_ly">
        <label class="form-check-label-custom margin-right-tag" for="tam_ly">
            Tâm lý
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="nhan_cach" id="nhan_cach">
        <label class="form-check-label-custom margin-right-tag" for="nhan_cach">
            Nhân cách
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="the_thao" id="the_thao">
        <label class="form-check-label-custom margin-right-tag" for="the_thao">
            Thể Thao
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="am_nhac" id="am_nhac">
        <label class="form-check-label-custom margin-right-tag" for="am_nhac">
            Âm nhạc
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="the_thao" id="the_thao">
        <label class="form-check-label-custom margin-right-tag" for="the_thao">
            Thể Thao
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="sach_truyen" id="sach_truyen">
        <label class="form-check-label-custom margin-right-tag" for="sach_truyen">
            Sách truyện
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="ap_luc" id="ap_luc">
        <label class="form-check-label-custom margin-right-tag" for="ap_luc">
            Áp lực
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="thi_cu" id="thi_cu">
        <label class="form-check-label-custom margin-right-tag" for="thi_cu">
            Thi cử
        </label>
    </div>
</div>    
<br>



